<template>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="USAC"
          class="shrink mr-2"
          contain
          src="/logo.png"
          transition="scale-transition"
          width="40"
        />
        <v-btn
            text
            @click="goToReports"
            >
                <span class="mr-2">Sist Portal</span>
            </v-btn>

      </div>

      <v-spacer></v-spacer>

      <v-btn
          target="_blank"
          text
          @click="goToReports"
          >
              <span class="mr-2">Consultas</span>
          </v-btn>
      
        <v-btn
          target="_blank"
          text
          @click="goToPay"
          >
              <span class="mr-2">Registrar transacciones</span>
      </v-btn>
    </v-app-bar>
</template>

<script>

export default {
    name: 'Header',

    methods: {
        goToPay() {
            this.$router.push('/transactions');
        },
        goToReports() {
            this.$router.push('/');
        }
    }

}
</script>
