<style>
.blah{
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  padding-right: 1em;
}
.consulta-title{
  color: white;
  background: green;
}
.consultas-disp{
  font-weight: bold;
}
.param2{
  padding-left: 1em;
  padding-right: 1em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
.param3{
  padding-left: 1em;
  padding-right: 1em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.consulta-container{
  padding-left: 1em;
  padding-right: 1em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;
  grid-gap: 1rem;
}
</style>
<template>
  <v-container class="py-1 px-10">
    <v-card class="my-10 mx-10">
      <v-card-title class="consulta-title">
        Consultas
      </v-card-title>
      <div class="consulta-container">
      <v-select
            class="consultas-disp"
            v-model="consulta"
            :items="consultas"
            item-text="name"
            item-value="value"
            single-line
            @change="update_desc"
          ></v-select>
      <span style="justify-self: end">Datos actualizados: </span>
      <span style="justify-self: center">{{ren}}</span>
      </div>
      <div class="blah" v-if="consulta != 1 && consulta != 5">
        <v-card-text> {{desc}} </v-card-text>
        <v-btn color="secondary" elevation="2" @click="consultar">
          Consultar
        </v-btn>
      </div>
      <div  v-if="consulta==1">
        <div class="param2" v-if="consulta==1">
          <v-text-field label="DPI" 
          v-model="dpi"> </v-text-field>
          <v-text-field label="Institucion financiera" 
          v-model="banco"> </v-text-field>
        </div>
        <div class="blah">
          <v-card-text> {{desc}} </v-card-text>
          <v-btn color="secondary" elevation="2" @click="consultar">
            Consultar
          </v-btn>
        </div>
        </div>
      <div  v-if="consulta==5">
        <div class="blah">
          <v-card-text> {{desc}} </v-card-text>
          <v-btn color="secondary" elevation="2" @click="consultar">
            Consultar
          </v-btn>
        </div>
        <div class="param3">
          <v-text-field label="DPI" 
          v-model="dpi"> </v-text-field>
          <v-text-field label="Institucion financiera" 
          v-model="banco"> </v-text-field>
          <v-date-picker type="month" v-model="mes"> </v-date-picker>
        </div>
      </div>
    </v-card>

    <v-card class="my-10 mx-10">
      <v-card-title style="background-color: #cef7f7;">
        Resultados
      </v-card-title>
      <v-card-text>
        Row 1
      </v-card-text>
    </v-card>

  </v-container>
</template>

<script>
import MainService from '@/services/main.service.js';
export default {
  name: 'Reports',

  data() {
    return {
      consulta: 1,
      desc: `Reporte de operaciones realizadas por un 
        cuentahabiente`,
      consultas: [
        {name: 'Consulta 1', value: 1},
        {name: 'Consulta 2', value: 2},
        {name: 'Consulta 3', value: 3},
        {name: 'Consulta 4', value: 4},
        {name: 'Consulta 5', value: 5}
      ],
      dpi: '',
      banco: '',
      mes: '',
      data: {}
    } 
  },
  computed: {
    ren: () => new Date().toString().replace(/GMT.+/g,""),
  },
  methods: {
    update_desc(){
      this.desc =  ({
        1: `Reporte de operaciones realizadas por un 
        cuentahabiente.`,
        2: `Reporte de totales de créditos y débitos para una
        institución financiera.`,
        3: `Reporte de cuentahabientes`,
        4: `Reporte de instituciones bancarias`,
        5: `Reporte de movimientos por cuentahabiente por mes`
      })[this.consulta];
    },
    consultar() {
          MainService.consulta(this.consulta) .then(response => {
            this.data = response.data;
          }).catch(err => console.log(err));
    }
  }

}
</script>
