<style>
.title{
  background: purple;
  color: white;
}
#subtitle1, #subtitle2{
  color: black;
  font-weight: bold;
  padding-top: 1em;
}
.param2{
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
</style>
<template>
    <v-container class="py-1 px-10">
      <v-card class="my-10 mx-10">
        <v-card-title class="title">Transacciones</v-card-title>
        <v-card-text id="subtitle1">
          Cuenta Origen
        </v-card-text>
        <div class="param2">
          <v-text-field label="DPI" 
          v-model="dpi1"> </v-text-field>
          <v-text-field label="Institucion financiera" 
          v-model="banco1"> </v-text-field>
        </div>
        <v-card-text id="subtitle2"> 
          Cuenta Destino
        </v-card-text>
        <div class="param2">
          <v-text-field label="DPI" 
          v-model="dpi2"></v-text-field>
          <v-text-field label="Institucion financiera" 
          v-model="banco2"></v-text-field>
        </div>
        <div class="param2">

        <v-text-field label="Monto" 
        v-model="amount"></v-text-field>
        <v-btn color="primary" elevation="2" 
          @click="pay">
        Guardar
        </v-btn>
        </div>
      </v-card>
    </v-container>
</template>

<script>

import MainService from '@/services/main.service.js';
export default {
    name: 'Transactions',

    data() {
        return {
            banco1: '',
            banco2: '',
            
            dpi1: '',
            dpi2: '',
            amount: 0
        }
    },

    methods: {
      pay(){
      if(this.amount>0)
        MainService.pay({
          bank: this.banco1,
          dpi: this.dpi1
        },{
          bank: this.banco2,
          dpi: this.dpi2
        }, this.amount)
        .then(response => {
          alert(response.data);
          this.amount = 0;
        }).catch(err => alert(err));
      }
    }
}
</script>
